{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
    <div class="col-xs-4">
		<div class="list-group text-center">
			{% for cat in cats %}
				<a href = "{{url_for('cat', cat_name=cat.name, cat_id=cat.id)}}"
					class="list-group-item"><span class="badge">{{ cat.items|length }}</span>{{ cat.name }}
				</a>
			{% endfor %}
		</div>
    </div>
	
    <div class="col-xs-8">
		<ul class="list-group">
			{% for item, cat in items %}
				<li class="list-group-item">
					<a href = "{{url_for('item', cat_id=cat.id, item_name=item.name, item_id=item.id)}}">
						<span>{{item.name}}</span>
						<span class="cat-note">({{cat.name}})</span>	
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>





{% endblock %}
