{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class="row">
    <div class="col-xs-4">
		<div class="list-group text-center">
			{% for cat in cats %}
				{% if name == cat.name %}
				<a href = "{{url_for('cat', cat_name=cat.name, cat_id=cat.id)}}"
					class="list-group-item active"><span class="badge">{{ cat.items|length }}</span>{{ cat.name }}
				</a>
				{% else %}
				<a href = "{{url_for('cat', cat_name=cat.name, cat_id=cat.id)}}"
					class="list-group-item"><span class="badge">{{ cat.items|length }}</span>{{ cat.name }}
				</a>
				{% endif %}
			{% endfor %}			
		</div>
    </div>
	
    <div class="col-xs-8">
		<h2>{{name}} Items ({{length}} items)</h2>
		<ul class="list-group">
			{% for item in items %}
				<li class="list-group-item">
					<a href = "#">
						<span>{{item.name}}</span>
					</a>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>


{% endblock %}