{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	
<div class="row">
    <div class="col-xs-4">
		<div class="list-group text-center">
			{% for c in cats %}
				{% if cat.name == c.name %}
				<a href = "{{url_for('cat', cat_name=c.name, cat_id=c.id)}}"
					class="list-group-item active"><span class="badge">{{ c.items|length }}</span>{{ cat.name }}
				</a>
				{% else %}
				<a href = "{{url_for('cat', cat_name=c.name, cat_id=c.id)}}"
					class="list-group-item"><span class="badge">{{ c.items|length }}</span>{{ c.name }}
				</a>
				{% endif %}
			{% endfor %}			
		</div>
    </div>
	
    <div class="col-xs-8">
		<div class="panel panel-default">
			<div class="panel-heading">
			<h3 class="panel-title">{{item.name}}</h3>
			</div>
			<div class="panel-body">
			{{item.description}}
		    </div>
		</div>
	</div>
</div>


{% endblock %}